body {
  background-color: #ff5733; }

paper {
  width: 828px;
  margin: 0 auto; }

.paper-top {
  width: 828px;
  margin: 0 auto;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  height: 100px; }

#paper-mid {
  width: 828px;
  margin: 0 auto;
  background-color: #FFFFFF;
  background-repeat: repeat-y;
  display: block;
  padding: 0;
  overflow: hidden;
  padding-bottom: 75px;
  padding-top: 7px; }

.paper-bottom {
  width: 828px;
  height: 18px;
  margin: 0 auto;
  background-color: #FFFFFF;
  background-repeat: no-repeat; }

.entry {
  width: 720px;
  display: block;
  padding-top: 55px;
  clear: both;
  margin-left: 4px; }

h1 {
  width: 250px;
  font-size: 42px;
  color: #1b4491;
  margin-bottom: 3px;
  clear: both; }

h1 span {
  font-size: 21px;
  display: block;
  color: #1b4491;
  margin-top: -5px; }

h2 {
  width: 180px;
  height: 23px;
  text-align: right;
  float: left;
  padding: 0;
  margin: 0;
  clear: both;
  font-size: 22px;
  color: #1b4491;
  margin-bottom: -12px; }

em {
  font-family: Georgia, "tahoma", sans-serif;
  font-style: italic;
  color: #777777;
  font-size: 14px;
  display: block;
  padding-top: 3px; }

p {
  width: 500px;
  margin-left: 40px;
  float: right;
  font-size: 15px; }

div.content {
  clear: both;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: block;
  padding-top: 32px; }

h3 {
  width: 180px;
  text-align: right;
  float: left;
  padding: 0;
  clear: both;
  font-size: 14px;
  color: #7b90b5; }

ol {
  float: right;
  width: 500px;
  margin-left: 40px;
  list-style: decimal; }

ul.skills {
  margin: 0;
  padding: 0;
  float: right;
  width: 500px;
  margin-left: 40px;
  margin-top: -6px;
  list-style-type: none; }

li {
  font-size: 15px; }

ul.skills li {
  margin: 0;
  padding: 0;
  float: left;
  width: 156px;
  padding-left: 10px;
  background-position: 0 0.5em;
  margin-top: 6px; }

img.portrait {
  padding-top: 20px;
  padding-left: 11px;
  padding-right: 11px;
  padding-bottom: 36px;
  margin-left: 50px;
  float: left; }

.namee {
  width: 400px;
  float: left;
  padding-top: 11px;
  margin-left: 38px;
  margin-bottom: 15px; }

.namee ul {
  padding-top: 5px;
  padding-left: 0px; }

.namee ul li {
  background-repeat: no-repeat;
  padding-left: 26px;
  background-position: 0 0.1em;
  height: 25px;
  display: block;
  margin-top: -5px; }

/*# sourceMappingURL=style.css.map */
